
#fauxmat-postgrid {
    margin: auto;
    height: 100%;
}
.fauxmat-grid-card{
    height: 400px;
    width: 100%;
    font-size: 1.1rem;
}
@media only screen and (max-width: 760px) {
    .fauxmat-grid-card{
        height: 400px;
        width: 400px;
    }
}
.fauxmat-grid-card-title{
    padding: 10px;
}
.fauxmat-post-grid-pic{
    clear: both;
    max-width: 300px;
    height: 300px;
    max-height: 300px;
}
#fauxmat-post{
    width: 100%;
    text-align: left;
}
#fauxmat-post-inner{
   width: 100%;
}
.fauxmat-post-title-wrapper{
    padding-top: 5px;
}
.fauxmat-post-masthead-list {
    background-color: $textColor;
    color: $backgroundColor;
    margin: 0;
}
.fauxmat-post-title-large{
    font-size: 1.3rem;
    padding: 10px;
}
.fauxmat-post-masthead {
    flex: 0 0 50%;
    margin: 0;
    border-bottom: 1px solid $fadedColor;
}
#fauxmat-post-title {
    font-size: 2.5rem;
    line-height: 2.8rem;
    position: relative;
    font-weight: bold;
    padding-bottom: 2px;
}
.fauxmat-post-date {
    display: flex;
    color: $fadedColor;
    padding: 0 10px; 
    font-size: 0.9rem;
}
.fauxmat-post-date-large {
    font-size: 0.9rem;
}
#fauxmat-post-content-wrapper{
    padding-top: 10px;
}
#fauxmat-post-content {
    width: 100%;
    padding: 0 10px;
    background-color: $backgroundColor;
    color: black;
}
#fauxmat-post-content-full {
    margin: 10px;
    font-size: 1.5em;
    color: $backgroundColor;
    text-align: left;
}
#fauxmat-post-author {
    font-size: 0.7rem;
}
span:first-of-type {
    flex: 1;
}
.fauxmat-grid-wrapper{
    background-color: $textColor;
}